@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Bebas+Neue&family=Figtree:ital,wght@0,300..900;1,300..900&family=Patua+One&display=swap');

@theme {
    --patua: "Patua", sans-serif; 
    --antonio: "Antonio", sans-serif;
    --figtree: "Figtree", sans-serif;
    --bebas: "Bebas Neue", sans-serif;
  }


  ::selection {
    @apply bg-brand-400 text-white;
}

* {
    @apply text-brand-200;
}